Source: sortedcollections
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Diane Trout <diane@ghic.org>
Section: python
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3-all,
               python3-doc8 <!nocheck>,
               python3-mypy <!nocheck>,
               python3-pytest,
               python3-pytest-cov,
               python3-setuptools,
               python3-sortedcontainers,
               python3-sphinx
Standards-Version: 4.6.1
Homepage: https://www.grantjenks.com/docs/sortedcollections/
Vcs-Git: https://salsa.debian.org/python-team/packages/sortedcollections.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/sortedcollections
Rules-Requires-Root: no

Package: python3-sortedcollections
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Python 3 Sorted Collections
 SortedCollections is an Apache2 licensed Python sorted collections library.
 .
 Features
 --------
 .
   - Pure-Python
   - Depends on the SortedContainers module.
   - ValueSortedDict - Dictionary with (key, value) item pairs sorted by value.
   - ItemSortedDict - Dictionary with key-function support for item pairs.
   - OrderedDict - Ordered dictionary with numeric indexing support.
   - OrderedSet - Ordered set with numeric indexing support.
   - IndexableDict - Dictionary with numeric indexing support.
   - IndexableSet - Set with numeric indexing support.
 .
 This contains the Python 3 module

Package: python-sortedcollections-doc
Architecture: all
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Section: doc
Multi-Arch: foreign
Description: Python documentation for Sorted Collections
 SortedCollections is an Apache2 licensed Python sorted collections library.
 .
 Features
 --------
 .
   - Pure-Python
   - Depends on the SortedContainers module.
   - ValueSortedDict - Dictionary with (key, value) item pairs sorted by value.
   - ItemSortedDict - Dictionary with key-function support for item pairs.
   - OrderedDict - Ordered dictionary with numeric indexing support.
   - OrderedSet - Ordered set with numeric indexing support.
   - IndexableDict - Dictionary with numeric indexing support.
   - IndexableSet - Set with numeric indexing support.
 .
 This contains the documentation.
